/*!
 * Theme Name: WPRiders
 * Description: WPRiders WordPress Theme
 * Version: 1.0
 * Author: Ovidiu L. (@pur4u)
 * Author URI: http://www.pur4u.ro
 * Tags: Blank, HTML5, CSS3
 *
 */

/* Fonts */
@font-face {
    font-family: 'DINCond-Bold';
    src: url('fonts/DINCond-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/DINCond-Bold.otf') format('opentype'),
    url('fonts/DINCond-Bold.woff') format('woff'), url('fonts/DINCond-Bold.ttf') format('truetype'), url('fonts/DINCond-Bold.svg#DINCond-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINCond-Light';
    src: url('fonts/DINCond-Light.eot?#iefix') format('embedded-opentype'), url('fonts/DINCond-Light.otf') format('opentype'),
    url('fonts/DINCond-Light.woff') format('woff'), url('fonts/DINCond-Light.ttf') format('truetype'), url('fonts/DINCond-Light.svg#DINCond-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINCond-Regular';
    src: url('fonts/DINCond-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/DINCond-Regular.otf') format('opentype'),
    url('fonts/DINCond-Regular.woff') format('woff'), url('fonts/DINCond-Regular.ttf') format('truetype'), url('fonts/DINCond-Regular.svg#DINCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Common */
.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* Header */
.header {
    position: fixed;
    width: 24%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.logo {
    padding: 4rem;
}

.logo a {
    color: #010101;
    font-family: "DINCond-Bold", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 3rem;
    text-transform: none;
    text-decoration: none;
}

.logo a:hover {
    text-transform: none;
}

.subheading {
    color: #010101;
    font-family: "DINCond-Light", Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 0;
    margin: 0.6rem 0 0 0;
}

.left-menu ul {
    font-family: "DINCond-Light", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    list-style-type: none;
    text-decoration: none;
    padding: 2rem 0 0 4rem;
    line-height: 2.4rem;
    margin: 0;
}

.left-menu ul li a {
    text-decoration: none;
    color: #010101;
}

.left-menu ul li a:hover {
    color: #c1282d;
}

/* Content */
.main {
    padding: 0;
    width: 76%;
    margin-left: 24%;
    margin-top: 4rem;
    display: block;
}

.main article {
    width: 49.5%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: left;
    /*margin-bottom: 3rem;*/
}

.single .main article, .single .main article .title-desc, .main-404 article {
    width: 98%;
}
.main-404 article h1, .main-404 article h2{
    text-align: center;
}

.main-404 a:after {
    display: none;
}

.post-thumbnail {
    display: block;
    overflow: hidden;
    /*max-height: 400px;*/
}

.post-thumbnail img {
    max-width: 100%;
    height: auto;
    /*min-height: 400px;*/
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

.post-thumbnail:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

    filter: grayscale(0); /* Current draft standard */
    -webkit-filter: grayscale(0); /* New WebKit */
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    /*filter: none; !* IE6+ *!*/
}

.main article .title-desc {
    width: 91%;
    display: inline-block;
    min-height: 6.5rem;
}

.main article .like {
    width: 8%;
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
}

.main article h2 {
    font-family: "DINCond-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
    padding-left: 1rem;
    text-decoration: none;
    color: #010101;
}

.main article a {
    text-decoration: none;
    color: #010101;
}

.main article a:hover {
    color: #c1282d;
}

.main article a:after {
    content: '';
    position: absolute;
    z-index: 999999;
    top: 0;
    margin-top: 51%;
    left: 1.2rem;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
}

.main article .excerpt {
    font-family: "DINCond-Regular", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #010101;
    padding-left: 1rem;
    margin: 0;
}

.main article .excerpt p {
    margin: 0;
}


/* Menu mobile */
.menu-hamburger {
    display: none;
}

#nav-icon {
    width: 2rem;
    position: absolute;
    top: 1.4rem;
    right: 5%;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 0.4rem;
    width: 100%;
    background: #010101;
    border-radius: 0.4rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon span:nth-child(4) {
    top: 20px;
}

#nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}


/* Responsive */
@media (max-width: 1300px) {
    .logo {
        padding: 18%;
    }

    .main {
        margin-top: 5%;
    }

    .left-menu ul {
        padding: 9% 0 0 18%;
    }
}

@media (max-width: 980px) {
    .logo a {
        font-size: 2.5rem;
        line-height: 2rem;
    }

    .subheading {
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin: 0.4rem 0 0 0;
    }

    .left-menu ul {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 768px) {
    .header {
        position: relative;
        width: 100%;
        /*height: 5rem;*/
        display: block;
        overflow-x: auto;
        overflow-y: auto;
    }

    .logo {
        padding: 0;
        display: inline-block;
        width: 70px;
        margin: 0.8rem 0 0 5%;
    }

    .logo a {
        font-size: 1rem;
        line-height: 0.9rem;
    }

    .subheading {
        font-size: 0.8rem;
        line-height: normal;
        margin: 0;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    .left-menu ul {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    .main {
        margin-left: auto;
        width: 100%;
    }

    .main article, .single .main article {
        width: 90%;
        left: 5%;
    }

    .single .main article a:after {
        display: none;
    }

    .menu-hamburger {
        display: inline-block;
    }
}

